<div class="w-full h-full bg-no-repeat bg-cover bg-fixed" [style.background-image]="'url(' + backgroundImage + ')'">
    <auth-header-component></auth-header-component>
    <div class="resetPassword-Body">
        <div class="w-[100%] h-[100%] flex items-center">
            <div class="w-[35rem] h-[auto] py-[3rem] rounded-[.5rem] flex flex-col items-center justify-center overflow-hidden ml-[10%] mb-[5%] backdrop-blur-3xl">
                <div class="w-[80%] flex items-center justify-center flex-col">
                    <div class="text-[2rem] w-full flex justify-center mb-3 text-auth_proceed_button_text">Reset Password</div>
                    <div class="mb-5">
                        Change your password
                    </div>
                    <form 
                        [formGroup]="resetPassForm"
                        (ngSubmit)="onSubmit()"
                        novalidate
                        class="w-full flex flex-col items-center justify-center"
                    >
                        <div class="flex flex-col w-[100%]">
    
                            <div class="text-red-900" *ngIf="passwordError && passwordTouched">
                                Please enter password
                            </div>
                            <div class="text-red-900" *ngIf="passwordErrorPattern && passwordTouched">
                                {{ regexError }}
                            </div>
                            <mat-form-field class="">
                                <mat-label>
                                    Password
                                </mat-label>
                                <input 
                                    type="password" 
                                    matInput 
                                    placeholder="Enter password"
                                    formControlName="password"
                                    (blur)="onPasswordChange($event)"
                                > 
                            </mat-form-field>

                            <div class="text-red-900" *ngIf="confirmPassError && confirmPassTouched">
                                Confirm Password is required
                            </div>
                            <div class="text-red-900" *ngIf="confirmPassPattern && confirmPassTouched">
                                Passwords do not match. Please re-enter your password
                            </div>
                            <mat-form-field class="">
                                <mat-label>
                                    Confirm Password
                                </mat-label>
                                <input 
                                    type="password" 
                                    matInput 
                                    placeholder="Re-enter password"
                                    formControlName="confirmPassword"
                                    (blur)="onConfirmPasswordChange($event)"
                                > 
                            </mat-form-field>
                            
                        </div>
                        <div class="text-red-900 mb-2">
                            {{ errorMessage }}
                        </div>
                        <div class="flex justify-center w-full items-center text-[1.1rem] text-auth_proceed_button_text">
                            <auth-submit-button-component submitButtonText="Submit" [notValid]="resetPassForm.invalid"></auth-submit-button-component>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  