<!-- PAGINATION BITTONS -->
<div class="h-[4rem] w-[99%] flex items-center justify-center">
    <button class="border border-gray-300 px-6 py-1 active:scale-95 active:bg-gray-400 transition ease-in-out rounded-xl m-1"> < </button>
    <button class="px-5 py-1 hover:bg-slate-100 rounded-full active:bg-gray-300 active:scale-95 transition ease-in-out">1</button>
    <button class="px-5 py-1 hover:bg-slate-100 rounded-full active:bg-gray-300 active:scale-95 transition ease-in-out">2</button>
    <button class="px-5 py-1 hover:bg-slate-100 rounded-full active:bg-gray-300 active:scale-95 transition ease-in-out">3</button>
    <button class="px-5 py-1 hover:bg-slate-100 rounded-full active:bg-gray-300 active:scale-95 transition ease-in-out">4</button>
    <button class="border border-gray-300 px-6 py-1 active:scale-95 active:bg-gray-400 transition ease-in-out rounded-xl m-1"> > </button>
</div>