<div class="w-full h-full bg-no-repeat bg-cover bg-fixed" [style.background-image]="'url(' + backgroundImage + ')'">
    <auth-header-component></auth-header-component>
    <div class="forgetPassword-Body">
        <div class="w-[100%] h-[100%] flex items-center">
            <div class="w-[35rem] h-[auto] py-[3rem] rounded-[.5rem] flex flex-col items-center justify-center overflow-hidden ml-[10%] mb-[5%] backdrop-blur-3xl">
                <div class="w-[80%] flex items-center justify-center flex-col">
                    <div class="text-[2rem] w-full flex justify-center mb-3 text-auth_proceed_button_text">Forget Password</div>
                    <div class="mb-5">
                        Enter your email address to receive OTP
                    </div>
                    <form action="" class="w-full flex flex-col items-center justify-center">
                        <div class="flex flex-col w-[100%]">
    
                            <mat-form-field class="">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput 
                                    placeholder="email@gmail.com"
                                > 
                            </mat-form-field>
                            
                        </div>
                        <div class="flex justify-center w-full items-center text-[1.1rem] text-auth_proceed_button_text">
                            <auth-submit-button-component submitButtonText="Submit"></auth-submit-button-component>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>