<div class="w-full h-full bg-no-repeat bg-cover bg-fixed" [style.background-image]="'url(' + backgroundImage + ')'">
    <auth-header-component></auth-header-component>
    <div class="login-Body">
        <div class="w-[100%] h-[100%] flex items-center">
            <div class="w-[35rem] h-[auto] py-[3rem] rounded-[.5rem] flex flex-col items-center justify-center overflow-hidden ml-[10%] mb-[5%] backdrop-blur-3xl">
                <div class="w-[80%] flex items-center justify-center flex-col">
                    <div class="text-[2rem] w-full flex justify-center mb-7 text-auth_proceed_button_text">Log In</div>
                    <form 
                        [formGroup]="loginForm"
                        novalidate
                        class="w-full flex flex-col items-center justify-center"
                    >
                        <div class="flex flex-col w-[100%]">
        
                            <div class="text-red-900" *ngIf="emailError && emailTouched">
                                Please provide your email.
                            </div>
                            <div class="text-red-900" *ngIf="emailErrorPattern && emailTouched">
                                Please enter a valid email address.
                            </div>
                            <mat-form-field class="">
                                <mat-label>Email</mat-label>
                                <input 
                                    type="email" 
                                    matInput 
                                    placeholder="email@gmail.com"
                                    formControlName="email"
                                    (blur)="onEmailChange($event)"
                                > 
                            </mat-form-field>

                            <div class="text-red-900" *ngIf="passwordError && passwordTouched">
                                Please enter password
                            </div>
                            <div class="text-red-900" *ngIf="passwordErrorPattern && passwordTouched">
                                The password you entered is not valid. Please try again.
                            </div>
                            <mat-form-field class="">
                                <mat-label>Password</mat-label>
                                <input 
                                    type="password" 
                                    matInput 
                                    placeholder="Password"
                                    formControlName="password"
                                    (blur)="onPasswordChange($event)"
                                > 
                            </mat-form-field>
                            
                        </div>
                        <div class="flex justify-between w-full items-center text-[1.1rem] text-auth_proceed_button_text">
                            <div>
                                <div>
                                    <a href="#" class="hover:text-red-700">
                                        Forgot password...?
                                    </a>
                                </div>
                                <div class="text-black">Don't have an account? 
                                    <a href="#" class="text-auth_proceed_button_text">
                                        Register
                                    </a>
                                </div>
                            </div>
                            <auth-submit-button-component submitButtonText="Log In"></auth-submit-button-component>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>