<div class="w-screen h-auto">

    <!-- HEADER PART -->
    <div class="h-auto py-5 px-2 mx-5 rounded-md flex justify-between items-center bg-slate-200">
        <button (click)="prevMonth()" class="py-1 px-4 hover:bg-slate-300 transition ease-in-out duration-150 rounded-2xl active:scale-95">
            <i class="fa-solid fa-less-than"></i>
        </button>
        <div class="text-lg">{{ currentDate | date: 'MMMM yyyy' }}</div>
        <!-- <input type="date" class="h" [(ngModel)]="currentDate"> -->
        <button (click)="nextMonth()" class="py-1 px-4 hover:bg-slate-300 transition ease-in-out duration-150 rounded-2xl active:scale-95">
            <i class="fa-solid fa-greater-than"></i>
        </button>
    </div>

    <!-- BODY PART -->
    <div class="grid mx-5 grid-cols-7 gap-2 py-4 rounded-md">
        <!-- DAYS OF THE WEEK -->
        <div *ngFor="let day of calendarWeeks" class="text-center py-5 bg-slate-100 shadow-md rounded-md mb-3">
            <div>{{ day }}</div>
        </div>

        <!-- DAYS -->
        <div *ngFor="let date of daysInMonth" class="text-center">
            <div *ngIf="date" class="py-4 border rounded-xl">{{ date }}</div>
            <div *ngIf="!date"></div>
        </div>
    </div>
</div>






