<div class="w-full h-auto flex flex-col items-center py-4 ">
    <div class="pb-4 text-xl">
        <b>Attendance</b>
    </div>
    <calendar-component></calendar-component>

    <button class="mt-2 py-3 px-5 rounded-lg bg-slate-300 hover:bg-slate-400 transition ease-in-out active:scale-95">
        Present
    </button>

    <div class="p-5 h-auto w-full flex justify-around">
        <div class="bg-gray-100 px-5 py-3 rounded-md">20 <br> Working Days</div>
        <div class="bg-green-100 px-5 py-3 rounded-md">10 <br> Present</div>
        <div class="bg-red-100 px-5 py-3 rounded-md">10 <br> Absent</div>
    </div>
</div>