<footer>
    <div class="w-full h-[25rem] bg-gray-900 text-white flex items-center justify-center">
        <div class="w-[85%] h-[70%] flex gap-[4rem] text-lg">
            <div class="w-5/12 h-full">
                <div class="flex items-center mb-5">
                    <img src="/assets/images/EduSync-logo.png" alt="" class="w-[4rem] h-[4rem]">
                    <div class="text-3xl"> 
                        EduSync
                    </div>
                </div>
                <div class="pl-4">
                    Empowering learners through accessible and engaging online
                    education.  
                    <br>
                    EduSync is a leading online learning platform dedicated to
                    provided high-quality, flexible, and affordable educational
                    experiences
                </div>
            </div>
            <div class="w-2/12 h-full pl-[2%] mt-5">
                <div class="text-2xl mb-2">
                    Get Help
                </div>
                <div class="mb-2">
                    Contact Us
                </div>
                <div class="mb-2">
                    Latest Articles
                </div>
                <div class="mb-2">
                    FAQ
                </div>
            </div>
            <div class="w-2/12 h-full pl-[2%] mt-5">
                <div class="text-2xl mb-2">
                    Programs
                </div>
                <div class="mb-2">
                    Art & Design
                </div>
                <div class="mb-2">
                    Business
                </div>
                <div class="mb-2">
                    IT & Software
                </div>
                <div class="mb-2">
                    Languages
                </div>
                <div class="mb-2">
                    Programming
                </div>
            </div>
            <div class="w-3/12 h-full pl-[2%] mt-5">
                <div class="text-2xl mb-2">
                    Contact Us
                </div>
                <div class="mb-2">
                    Address: Calicut, Kerala
                </div>
                <div class="mb-2">
                    Phone: +91 984 354 2338
                </div>
                <div class="mb-2">
                    Mail: edusync@gmail.com
                </div>
                <div class="mb-2 flex gap-8 mt-5">
                    <i class="fa-brands fa-facebook text-3xl"></i>
                    <i class="fa-brands fa-x-twitter text-3xl"></i>
                    <i class="fa-brands fa-google text-3xl"></i>
                    <i class="fa-brands fa-github text-3xl"></i>
                </div>
            </div>
        </div>
    </div>
</footer>