<div class="w-[13rem] h-[18rem] rounded-[1rem] border border-gray-300 shadow-sm flex flex-col items-center hover:shadow-xl active:scale-95 transition ease-in-out">

    <div class="w-[90%] h-[50%] bg-slate-500 mt-[10px] rounded-[.7rem]">
        <img src="/assets/images/EduSync-logo.png" alt="" class="w-full h-full">
    </div>
    <div class="w-[92%] h-[44%] flex flex-col gap-3 mt-5 pl-1">
        <div class="text-[1.5rem]">
            Ronald Richards
        </div>
        <div>
            UI/UX Designer
        </div>
    </div>

</div>
